@use "@picocss/pico/scss/colors" as *;

.hook {
  text-align: center;
  max-width: 60ch;
  margin: 0 auto;
  /* padding: 0 1em; */
}

.intro {
  margin-bottom: 2em;
  margin-top: 2em;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    font-weight: 200;
    font-size: 1.5em;
    a {
      text-decoration: none;
    }
  }
}
