@use "@picocss/pico";
@use "@picocss/pico/scss/colors" as *;

@use "./navigation.scss";

@import "../../public/fonts/AlfaSlabOne-Regular/stylesheet.css";

// Light color scheme (Default)
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
  // --pico-primary: #{$red-500};
  --pico-background-color: #{$sand-50};
  --lumphammer-menu-background: #{$sand-50}77;
  --lumphammer-color: #{$sand-950};
  --pico-color: var(--lumphammer-color);
  --pico-primary-inverse: #{$sand-50};
  --pico-primary: #{$cyan-500};
  --pico-primary-background: #{$cyan-550};
  --pico-primary-focus: #{$cyan-450};
  --pico-primary-hover-background: #{$cyan-450};
  --lumphammer-logo-filter: drop-shadow(0.2em 0.2em 0.2em #0007);
  --lumphammer-logo-svg-color: #{$cyan-700};
  --lumphammer-logo-text-color: #{$cyan-600};
}

// dark color scheme
@mixin dark-scheme {
  --pico-text-selection-color: #{$red-750};
  --pico-primary: #{$red-500};
  --pico-primary-background: #{$red-450};
  --pico-primary-underline: #{$red-450};
  --pico-primary-hover: #{$red-550};
  --pico-primary-hover-background: #{$red-550};
  --pico-primary-focus: rgba(245, 107, 61, 0.375);
  --pico-primary-inverse: #fff;
  --pico-background-color: #{$sand-950};
  --lumphammer-menu-background: #{$sand-950}cc;
  --lumphammer-color: #{$sand-50};
  --lumphammer-logo-filter: drop-shadow(0 0 0.5em var(--pico-primary));
  --lumphammer-logo-svg-color: #{$red-100};
  --lumphammer-logo-text-color: white;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark-scheme;
  }
}

[data-theme="dark"] {
  @include dark-scheme;
}

a[aria-current] {
  color: var(--pico-text);
  font-weight: bold;
}

body > header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype {
  font-family: "Alfa Slab One", serif;
  filter: var(--lumphammer-logo-filter);
  color: var(--lumphammer-logo-text-color);
  svg {
    fill: var(--lumphammer-logo-svg-color);
  }
}
