@use "@picocss/pico";
@use "@picocss/pico/scss/colors" as *;

@use "./navigation.scss";

@import "../../public/fonts/AlfaSlabOne-Regular/stylesheet.css";
@import "../../public/fonts/Geist/stylesheet.css";

:root {
  font-family: "Geist", sans-serif;
}

// Light color scheme (Default)
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
  // --pico-primary: #{$red-500};
  --pico-background-color: #{$sand-50};
  --lumphammer-menu-background: #{$sand-50}77;
  --lumphammer-color: #{$sand-950};
  --pico-color: var(--lumphammer-color);
  --pico-primary-inverse: #{$sand-50};
  --pico-primary: #{$cyan-500};
  --pico-primary-background: #{$cyan-550};
  --pico-primary-focus: #{$cyan-450};
  --pico-primary-hover-background: #{$cyan-450};
  --lumphammer-logo-filter: drop-shadow(0.05em 0.05em 0.05em #fff)
    drop-shadow(0.1em 0.1em 0.1em #0004);
  --lumphammer-logo-svg-color: #{$cyan-700};
  --lumphammer-logo-text-color: #{$cyan-600};
}

// dark color scheme
@mixin dark-scheme {
  --pico-text-selection-color: #{$cyan-750};
  --pico-primary: #{$cyan-500};
  --pico-primary-background: #{$cyan-450};
  --pico-primary-underline: #{$cyan-450};
  --pico-primary-hover: #{$cyan-550};
  --pico-primary-hover-background: #{$cyan-550};
  --pico-primary-focus: #{$cyan-550};
  --pico-primary-inverse: #fff;
  --pico-background-color: #{$sand-900};
  --lumphammer-menu-background: #{$sand-950}cc;
  --lumphammer-color: #{$sand-50};
  --lumphammer-logo-filter: drop-shadow(0 0 0.5em var(--pico-primary));
  --lumphammer-logo-svg-color: #{$cyan-50};
  --lumphammer-logo-text-color: white;
  // --pico-box-shadow: 0 0 0.5em var(--pico-primary);
  button:focus {
    --pico-box-shadow: 0 0 2em #{$cyan-350};
  }
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark-scheme;
  }
}

h1 {
  background: linear-gradient(to right, oklch(65% 0.2 200), oklch(65% 0.2 20));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

[data-theme="dark"] {
  @include dark-scheme;
}

a[aria-current] {
  color: var(--pico-text);
  font-weight: bold;
}

body > header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype {
  font-family: "Alfa Slab One", serif;
  filter: var(--lumphammer-logo-filter);
  color: var(--lumphammer-logo-text-color);
  // background-color: pink;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  .text {
    margin: 0;
    text-transform: uppercase;
  }
  svg {
    fill: var(--lumphammer-logo-svg-color);
  }
}
