@use "@picocss/pico";
@use "@picocss/pico/scss/colors" as *;

@use "./navigation.scss";

/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-primary: #{$red-500};
}

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: #{$red-750};
    --pico-primary: #{$red-500};
    --pico-primary-background: #{$red-450};
    --pico-primary-underline: #{$red-450};
    --pico-primary-hover: #{$red-550};
    --pico-primary-hover-background: #{$red-550};
    --pico-primary-focus: rgba(245, 107, 61, 0.375);
    --pico-primary-inverse: #fff;
  }
}

a[aria-current] {
  color: var(--pico-text);
  font-weight: bold;
}

body > header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #{$pink-950};
  > div {
    color: #{$pink-50};
  }

  // nav {
  //   label {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     input {
  //       // display: none;
  //     }
  //   }
  //   ul {
  //     display: none;
  //   }
  // }
  // // Hide the menu on desktop
  // @media (max-width: 768px) {
  //   nav {
  //     position: relative;
  //     background: #{$red-650};
  //     // when input is checked, show the ul
  //     label:has(input:checked) ~ ul {
  //       display: block;
  //       position: absolute;
  //       top: 3em;
  //       right: 3px;
  //       width: 70vw;
  //       height: 90vh;
  //       background: var(--pico-background);
  //       border-color: var(--pico-border);
  //       border-style: solid;
  //       border-width: 1px;
  //       border-radius: 0.5rem;
  //       padding: 0.5rem;
  //       li {
  //         display: block;
  //       }
  //     }
  //   }
  // }
  // @media (min-width: 768px) {
  //   nav {
  //     label {
  //       display: none;
  //     }
  //     ul {
  //       display: flex;
  //     }
  //   }
  // }
}
