@use "../app/mixins.scss" as *;

.themeSwitcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sun {
  display: none;
  :root[data-theme="light"] & {
    display: inline;
  }
}

.moon {
  display: none;
  :root[data-theme="dark"] & {
    display: inline;
  }
}

.system {
  display: none;
  :root:not([data-theme]) & {
    display: inline;
  }
}
